<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

<bean name="employee" class="com.mani.model.Employee"/>

<bean name="employeeService" class="com.mani.services.EmployeeService" init-method="init" destroy-method="destroy2">
	<property name="employee" ref="employee"></property>
</bean>

<!-- <bean name="myEmployeeService" class="com.mani.services.EmployeeServiceWithInitAndDestroyMethods" init-method="init" destroy-method="destroy">
	<property name="employee" ref="employee"></property>
</bean> -->

</beans>